.App {
  text-align: left;
}

.border {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.idCard-border {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.idCard-border p {
  margin: 0;
}
