.App {
  text-align: left;
}

.border {
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.idCard-border {
  display: flex;
  align-items: flex-start;
  gap: 5px;
}

.idCard-border p {
  margin: 0;
}

.text-center {
  text-align: center;
}

.credit-card {
  display: inline-flex;
  flex-flow: column wrap;
  width: 300px;
  border-radius: 10px;
  margin-left: 5px;
  padding: 1rem;
}

.credit-card img {
  height: 20px;
  align-self: flex-end;
  object-fit: scale-down;
}

.card-n {
  font-size: 2rem;
  line-height: 1rem;
  text-align: center;
  margin: 1.5rem auto;
}

.card-info {
  display: flex;
  flex-flow: row wrap;
}

.card-info > span {
  flex: 1 0 50%;
}

.rating {
  font-size: 1.5rem;
}

.driver-card {
  display: flex;
  padding: 1rem;
  background-color: #455eb5;
  border-radius: 0.5rem;
  margin: 1rem 5px;
  color: white;
  gap: 1rem;
}

.driver-card img {
  height: 80px;
  width: 80px;
  border-radius: 100%;
  object-fit: cover;
  float: right;
}

.driver-info > span:first-child {
  font-weight: bold;
  font-size: x-large;
}

.driver-img,
.driver-info {
  flex: 1;
}

.like-button {
  display: inline-block;
  padding: 0.25rem 1rem;
  color: white;
  margin: 5px;
  user-select: none;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border: 3px transparent solid;
}

.like-button:focus {
  border: 3px lightblue solid;
}

.clickable-picture {
  margin: 5px;
}
